<div class="board">
  <mat-card class="kanban-card">
    <mat-card-header>Todo</mat-card-header>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
  <mat-card class="kanban-card">
    <mat-card-header>in Work</mat-card-header>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
  <mat-card class="kanban-card">
    <mat-card-header>in Review</mat-card-header>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
  <mat-card class="kanban-card">
    <mat-card-header>done</mat-card-header>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
</div>
