<div class="board">
  <mat-card class="kanban-card">
    <mat-card-header>
      <h3>Todo</h3>
      <div>
        <mat-icon fontIcon="add_circle" (click)="addNote()"></mat-icon>
      </div>
    </mat-card-header>
    <div class="card-screen">
      <mat-card-content *ngFor="let task of todoTasks" class="task-card">
        <ng-container *ngIf="task.status === 'todo'">
          <div class="card-header">
            <p>Id: {{ task.id }}</p>
            <div class="icons">
              <mat-icon fontIcon="delete"></mat-icon>
              <mat-icon fontIcon="edit"></mat-icon>
            </div>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.title }}</p>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.description }}</p>
          </div>
          <div class="card-info">
            <p>Erstellt:</p>
            <p class="card-detail">{{ task.created_at }}</p>
          </div>
          <div class="card-info">
            <p>Fälling am:</p>
            <p class="card-detail">{{ task.due_date }}</p>
          </div>
          <div class="card-info">
            <p>Bearbeiter:</p>
            <p class="card-detail">{{ task.assignee }}</p>
          </div>
        </ng-container>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="kanban-card">
    <mat-card-header>
      <h3>in Work</h3>
      <div>
        <mat-icon fontIcon="add_circle" (click)="addNote()"></mat-icon>
      </div>
    </mat-card-header>
    <div class="card-screen">
      <mat-card-content *ngFor="let task of inWorkTasks" class="task-card">
        <ng-container *ngIf="task.status === 'inWork'">
          <div class="card-header">
            <p>Id: {{ task.id }}</p>
            <div class="icons">
              <mat-icon fontIcon="delete"></mat-icon>
              <mat-icon fontIcon="edit"></mat-icon>
            </div>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.title }}</p>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.description }}</p>
          </div>
          <div class="card-info">
            <p>Erstellt:</p>
            <p class="card-detail">{{ task.created_at }}</p>
          </div>
          <div class="card-info">
            <p>Fälling am:</p>
            <p class="card-detail">{{ task.due_date }}</p>
          </div>
          <div class="card-info">
            <p>Bearbeiter:</p>
            <p class="card-detail">{{ task.assignee }}</p>
          </div>
        </ng-container>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="kanban-card">
    <mat-card-header>
      <h3>in Review</h3>
      <div>
        <mat-icon fontIcon="add_circle" (click)="addNote()"></mat-icon>
      </div>
    </mat-card-header>
    <div class="card-screen">
      <mat-card-content *ngFor="let task of inReviewTasks" class="task-card">
        <ng-container *ngIf="task.status === 'inReview'">
          <div class="card-header">
            <p>Id: {{ task.id }}</p>
            <div class="icons">
              <mat-icon fontIcon="delete"></mat-icon>
              <mat-icon fontIcon="edit"></mat-icon>
            </div>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.title }}</p>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.description }}</p>
          </div>
          <div class="card-info">
            <p>Erstellt:</p>
            <p class="card-detail">{{ task.created_at }}</p>
          </div>
          <div class="card-info">
            <p>Fälling am:</p>
            <p class="card-detail">{{ task.due_date }}</p>
          </div>
          <div class="card-info">
            <p>Bearbeiter:</p>
            <p class="card-detail">{{ task.assignee }}</p>
          </div>
        </ng-container>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card class="kanban-card">
    <mat-card-header>
      <h3>Done</h3>
      <div>
        <mat-icon fontIcon="add_circle" (click)="addNote()"></mat-icon>
      </div>
    </mat-card-header>
    <div class="card-screen">
      <mat-card-content *ngFor="let task of doneTasks" class="task-card">
        <ng-container *ngIf="task.status === 'done'">
          <div class="card-header">
            <p>Id: {{ task.id }}</p>
            <div class="icons">
              <mat-icon fontIcon="delete"></mat-icon>
              <mat-icon fontIcon="edit"></mat-icon>
            </div>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.title }}</p>
          </div>
          <div class="card-info">
            <p class="card-detail">{{ task.description }}</p>
          </div>
          <div class="card-info">
            <p>Erstellt:</p>
            <p class="card-detail">{{ task.created_at }}</p>
          </div>
          <div class="card-info">
            <p>Fälling am:</p>
            <p class="card-detail">{{ task.due_date }}</p>
          </div>
          <div class="card-info">
            <p>Bearbeiter:</p>
            <p class="card-detail">{{ task.assignee }}</p>
          </div>
        </ng-container>
      </mat-card-content>
    </div>
  </mat-card>
</div>
