form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px;
    background-color: #EBEBEB;
}

.registrate{
    cursor: pointer;
    padding-top: 20px;

    &:hover{
        color: darkblue;
        font-weight: bold;
    }
}